/* common.css */
html,
body {
    min-height: 100%;
}


.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.mynav {
    justify-content: space-between;
    padding: 0 4rem;
    background-color: #0c0c0c;
    transition: all 1s ease;
}

.logo {
    height: 45px;
    transition: all 0.5s;
}

.logo:hover {
    transform: scale(1.1);
}


.active {
    color: #f8f8f8;
}

.nav-item {
    padding: 0.5rem 1.2rem;
    margin: 0px 10px;
    font-size: larger;
    font-weight: bold;
    position: relative;
    transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover{
    transform: translateY(5px);
}

.navbar .navbar-nav .nav-item:hover .nav-link{
    color: #f8f8f8;
}

.navbar .navbar-nav .nav-link {
    color: #d9d9d9;
    transition: all 0.5s ease;
}

.footer {
    height: 100px;
    background-color: #000;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b4b4b4;
    font-size: 14px;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer .contact-logo {
    color: #f4f4f4;
    font-size: 16px;
    margin: 15px 10px;
}

.footer .contact-logo:hover {
    text-decoration: none;
}

.footer .site-name {
    color: #d4d4d4;
    font-weight: bold;
}

@keyframes beating {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1.6)
    }

    30% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.6)
    }
    70%,
    100% {
        transform: scale(1)
    }
}

.footer .heart {
    display: inline-block;
    animation: beating 1s infinite;
    animation-timing-function: ease-out;
    margin: 0px 5px;
}

.footer div a {
    position: relative;
}

.footer div a img {
    width: 180px;
    position: absolute;
    top: -200px;
    left: -90px;
    padding: 15px;
    background-color: #fff;
    display: none;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
}

.footer div a:hover img {
    display: block;
}

/* 加载动画 */
.spinner {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    text-align: center;
    background-color: #0c0c0c;
  }
   
  .spinner > div {
    width: 30px;
    height: 30px;
    /* background-color: #67CF22; */
    background-color: #fff;
   
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
   
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
   
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
   
  @-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
  }
   
  @keyframes bouncedelay {
    0%, 80%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }